:root{
    --bg-colorrate: hsl(300, 24%, 96%);
    --font-color:hsl(300, 43%, 22%);
    --descrip-color: hsl(303, 10%, 53%);
    --card-color: hsl(0, 0%, 100%);
}
.body{
      margin: 0px;
      position: relative;
      font-family: Spartan;
      display: flex;
      flex-wrap: wrap;
      padding: 5% 10%;
}

body::before{
    content: url(../Assets/Images/bg-pattern-top-desktop.svg);
    position:fixed;
    z-index: -1;
    top:0;
    left:0;
    
}

body::after{
    content: url(../Assets/Images/bg-pattern-bottom-mobile.svg);
    position:absolute;
    z-index: -1;
    right: 400px;
    
}

.header{
    width: 40%;
    margin-right: 12%;
    margin-bottom: 50px;
    
}
.tittle{
    color:var(--font-color);
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 40px;
}

.descript{
    color: var(--descrip-color);
    font-size: 14px;
}

.main{
    width: 45%;
    height: 200px;
    padding-top: 25px;
    padding-right: 0px;
}


.star-container, .ratedescrip{
    align-self: center;
    margin-left: 7%;
}

.ratedescrip{
    margin-left: 7%;
    color: var(--font-color);
    font-weight: 900;
    font-size: 11px;
}
.rates{
    width: 100%;
    margin:0;   
}
.rate{
    background-color: var(--bg-colorrate);
    margin-top: 15px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-content: center;
    width: 80%;
}

.rate1{  
    margin-left: 0;
    margin-right: 0;
}
.rate2{
    margin-left: 8%;
    margin-right: 0;

}
.rate3{  
    margin-left: 15%;
    margin-right: 0;
}

footer{
    display: flex;
    height: 250px;
    margin:0;
}

.card{
    background-color: var(--font-color);
    width: 270px;
    height: 175px;
    border-radius: 10px;
    margin-right: 30px;
    padding: 40px 30px 0 30px;
}
.card-img{
    border-radius: 50%;
    width: 35px;
    
}

.profile-descrip{
    display: inline-block;
    margin-left: 15px;
}

.h5{
    color:rgba(255, 255, 255, 0.822);
    font-size: 12px;
    margin:0;
    margin-bottom:5px;
    font-weight: 700px;
}
.rol{
    color:hsl(334, 36%, 62%);
    font-size: 12px;
    margin:0;
    font-weight: 400;
}

.card-text{
    color: white;
    font-size: 12px;
    width: 100%;
    margin:20px 0 0 0;
    font-weight: 200;
    line-height: 19px;
}

.card2{
    align-self: center;
}

.card3{
    align-self: flex-end;
}



